# This is the configuration file 
# Write a comment using '#' at start
# dbFolder= for KeePass database folder
# dbFile= for KeePass database file name
# dbPass= for KeePass database password (not in use)
# MoveToTrash= True/False if entry with be deleted or moved to trash
# AllowUser=[User number 1,User number 2] for users reading rights
# ######################################

AllowUser=12345678,123456
MoveToTrash=True

dbFolder=/myFolder/KeyPassDatabaseFolder/
dbFile=KeyPassDataFile.kdbx
